@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }
  .input-label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  .input-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .login-signup-btn {
    @apply bg-gray-800 mx-2 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white
  }
  .product-container {
    @apply mx-auto container sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2
  }
}

/* custom utilities */
@layer utilities {
  .form {
    @apply bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4;
  }
  .google-btn {
    @apply text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-full text-lg px-4 py-4 text-center inline-flex items-center mr-2 mb-2;
  }
  .github-btn {
    @apply text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-full text-lg px-4 py-4 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2;
  }
  .facebook-btn {
    @apply text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-full text-lg px-4 py-4 text-center inline-flex items-center  mr-2 mb-2;
  }
  .exist-account {
    @apply inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800
  }
  .hide-show-btn {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
  }
  .mobile-menu-btn {
    @apply inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white;
  }
  .nav-item{
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
  }
  .menu-item-left {
    @apply flex-1 flex items-center justify-center sm:items-stretch sm:justify-start;
  }
  .menu-item-right {
    @apply absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0;
  }
  .menu-btn {
    @apply bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
  }
}
